    <a class="top-link logo-link" href="https://concourse-ci.org/"><img src="/images/logo-white.svg" />Concourse</a>

    <a class="top-link" href="https://concourse-ci.org/docs.html">Docs</a>

    <a class="top-link" href="https://concourse-ci.org/examples.html">Examples</a>

    <a class="top-link" href="https://concourse-ci.org/project.html">Project</a>

    <a class="top-link" href="https://concourse-ci.org/ecosystem.html">Ecosystem</a>

    <a class="top-link" href="https://concourse-ci.org/support.html">Support</a>

    <a class="top-link" href="https://resource-types.concourse-ci.org">Resource Types</a>

    <a class="top-link active" href="/">blog</a>
